/* Google font style s */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

/* --------------------
common styles 
-----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

main {
    max-width: 85%;
    margin: 0 auto;
}




/* --------------------
nav-bar styles
-----------------------*/
.abacus-style {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #3E3E3E;
    margin-left: 120px;
}

.nav-items-style {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
    margin-right: 120px;
}

/* --------------------
top-banner styles
-----------------------*/

.top-banner-field {
    width: 55%;
    margin: 0 auto;
}

.top-banner-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}


/* ----------------------------
    album section styles
------------------------------- */

.album-section {
    margin: 100px auto;
}

.album-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 55px;
    color: #0A0826;
}

.album-details {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    /* or 175% */


    color: #6C6C6C;

}

.button-text-style {
    font-weight: 700;

}

.fa-arrow-right {
    transform: scale(1.1);
}

.toast-width {
    width: 255px;
    position: absolute;
    top: 170px;
    right: -70px;
    border: 0;
    border-left: 8px solid rgb(44, 127, 252);

}

.cross {
    transform: scale(0.7);
    position: absolute;
    top: 0;
    right: 5px;
}

/* --------------------
pricing section styles
-----------------------*/
.card-extra-style {
    height: 550px;
}


.card-text-style {
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

}

.fa-circle-check {
    background-color: rgb(7, 82, 112);
    color: rgb(220, 235, 249);
    font-size: larger;
    border-radius: 50%;
    border: 0;
}

.button-bg {
    background-color: rgb(247, 242, 246);
}

.button-bg:hover {
    background-color: rgb(247, 242, 246);
}

.third-card-position {
    top: -80px;
}


/* --------------------
FAQ section styles
-----------------------*/
.FAQ {
    padding-top: 70px;
    padding-bottom: 100px;

}



/* --------------------
footer section styles
-----------------------*/
footer {
    height: 280px;
}

.footer-logo {
    width: 128px;
    height: 40px;
}


/* --------------------
Responsive styles
-----------------------*/


/* --------------------
Mobile device 
-----------------------*/

@media screen and (max-width:767px) {

    /* --------------------
        nav-bar styles 
    -----------------------*/

    .abacus-style {
        font-size: 14px;
        line-height: 21px;
        margin-left: 20px;
    }

    .nav-items-style {
        margin-right: 20px;
    }


    /* --------------------
        top-banner styles 
    -----------------------*/
    .top-banner-heading {
        font-size: 24px;
        line-height: 36px;
    }

    .top-banner-field {
        width: auto;
    }

    /* --------------------
        album section styles 
    -----------------------*/

    .album-heading {
        font-size: 19px
    }

    .toast-width {
        top: 100px;
        right: 9%;

    }

    /* --------------------
        pricing section styles 
    -----------------------*/

    .third-card-position {
        top: 0;
    }


}